{% extends 'App_user/base.html' %}
{% load static %}

{% block metamorphosis %}
    <h3>Editar Perfil del negocio</h3>
    <h4>{{ user.last_name }}</h4>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.avatar.label_tag }}
        {{ form.avatar }}
        <br>
        <br>
        <br>
        {{ form.description.label_tag }}
        {{ form.description }}
        <br><br>
        
        {% if has_image %}
            <img src="{{ avatar }}" alt="Avatar">
        {% endif %}

        {{ form2.field1.label_tag }}
        {{ form2.field1 }}
        {{ form2.field2.label_tag }}
        {{ form2.field2 }}

        <input type="submit" value="Confirmar edición" class="btn btn-success">
    </form>
{% endblock %}
