{% extends 'App_user/base.html' %}
{% load static %}

{% block metamorphosis %}
    <div class="container">
        <h6>Username: {{ user.username }}</h6>

        {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <input type="submit" value="Confirmar cambio de contraseña" class="btn btn-success">
        </form>
    </div>
{% endblock %}
